# решаем несколько задач на строки

# 1
# Написать функцию search_substr(subst,st), которая принимает 2 строки на вход и определяет, имеется ли подстрока subst в строке st. В случае нахождения подстроки возвращается фраза "Есть контакт!", а иначе "Мимо!".
# Должно быть найдено совпадение в независимости от регистра.

In [35]:
def search_substr (st,substr):
    # так как регистр не важен, нам нужно привести всю строку st и substr к низу
    st_new = st.lower()
    substr_new =  substr.lower()
    if substr_new in st_new:
        print('Есть контакт!')
    else: 
        print('Мимо!')
search_substr('Кошка','кош')
# здесь мы использовали метод lower

Есть контакт!

# 2
# Требуется определить индексы первого и последнего вхождения буквы в строке. 
# Для этого нужно написать функцию first_last(letter, st), включающую 2 параметра: letter – искомый символ, st – целевая строка. 
# В случае отсутствия буквы в строке, нужно вернуть кортеж (None, None), если же она есть, то кортеж будет состоять из первого и последнего индекса этого символа.

In [46]:
def first_last(st,letter):
    first = st.lower().find(letter.lower())
    if (first != -1):
        last = st.lower().rfind(letter.lower())
        return first,last
    else:
        return None,None
first_last('Кошка','а')
# посмотрели на find, rfind

(4, 4)

# 3
# На основании предоставленного отрывка текста определить 3 наиболее часто встречаемых символа в ней. 
# Пробелы нужно игнорировать (не учитывать при подсчете). 
# Для выведения результатов вычислений требуется написать функцию top3(st). 
# Итог работы функции представить в виде строки: «символ – количество раз, символ – количество раз…».

In [37]:
# из-за того, что строка - неизменяемый упорядоченный объект, мы можем обращаться по очереди к ее символам
def top3(st):
    # введем словарь для подсчета символов. Словарь будет состоять из ключа-символа и числа - сколько раз он встречается
    D = dict()
    for symb in st.lower():
        if (symb == ' '):
            continue
            print(2)
        if (symb in D):
            D[symb] += 1
        else:
            D[symb] = 1
    fst = max(D, key = D.get)
    cnt1 = D[fst]
    del(D[fst])
    sec = max(D, key = D.get)
    cnt2 = D[sec]
    del(D[sec])
    thd = max(D, key = D.get)
    cnt3 = D[thd]
    return fst + ' - ' + str(cnt1) + ', ',sec + ' - '+ str(cnt2) + ', ',thd+ ' - ' + str(cnt3)
top3('Коошшшаааа')
# lower для строк, get для словаря,

('а - 4, ', 'ш - 3, ', 'о - 2')

In [38]:
# 2 способ (через collections)
import collections as cl
def top3(st):
    counter_top3 = cl.Counter(st.replace(' ', '')).most_common(3)
    return ', '.join([f'{letter} - {cnt}' for letter, cnt in counter_top3])
top3('Коошшшаааа')
# библиотека collections, Counter - подкласс Dictionary, метод most_common класса Counter
# метод строк join

'а - 4, ш - 3, о - 2'

# 4
# Александр решил как-то отобразить в тексте BACKSPACE (т.е. удаление последнего символа). 
# Он подумал, что символ «@» отлично для этого подходит. 
# Всем своим знакомым он дал строки такого вида (например, «гр@оо@лк@оц@ва»), чтобы посмотреть, кому удастся написать функцию cleaned_str(st), возвращающую строку в ее чистом виде.

In [48]:
def cleaned_str(st):
    # каждый раз когда находим @, нужно удалить @ и предыдущий символ
    # нужно придумать как выкидывать из списка символы, так как список - неизменяемый объект
    # каждый раз создавать новый объект - нерационально
    # поэтому резонней перевести строку в список
    clean_str = [] # список
    for symb in st:
        if (symb == '@'):
            clean_str.pop(-1) 
            continue
        clean_str.append(symb)
    return ''.join(clean_str)
cleaned_str('сварк@атоп')
# метод join для строк, метод pop для списка

'сваркатоп'

In [49]:
print(cleaned_str('сварка@@@@@лоб@ну@'))

слон

In [50]:
print(cleaned_str('гр@оо@лк@оц@ва'))

голова

# 5 
# Небольшой пример использования split для строк

# пусть у нас имеется датасет (табличка с данными) по автомобилям
# столбцы в этой таблице содержат разные характеристики и одна из них - марка машины
# в файле имеются пропуски в этом столбце. 
# Нужно, исходя из столбца описания машины вычленить марку машины для дальнейшего использования

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('data/vehicles_dataset.csv')

In [9]:
df.head()
# видим, что есть столбец model, посмотрим повнимательней

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,price_category
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,good,NaN,...,pickup,silver,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,NaN,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,6 cylinders,...,SUV,black,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,NaN,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,good,NaN,...,sedan,NaN,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,NaN,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,NaN,NaN,...,wagon,white,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,NaN,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,new,4 cylinders,...,NaN,NaN,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,NaN,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium

In [10]:
df.model.isna().sum() # имеем 129 пропусков, непорядок

129

In [11]:
# посмотрим на тот кусок данных, где пропущена модель
df[df.model.isna()]

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,price_category
67,7316913641,https://ventura.craigslist.org/cto/d/camarillo...,ventura county,https://ventura.craigslist.org,3000,2005.0,rover,NaN,fair,8 cylinders,...,SUV,grey,https://images.craigslist.org/00S0S_b3yx6L4N2S...,2005 Range Rover HSE Changed Oil and now engi...,NaN,ca,34.219565,-119.001986,2021-05-04T13:11:15-0700,low
142,7316550853,https://chicago.craigslist.org/chc/cto/d/midlo...,chicago,https://chicago.craigslist.org,3000,2006.0,jeep,NaN,like new,6 cylinders,...,NaN,brown,https://images.craigslist.org/01111_kNv3EKjH4H...,SUPER CLEAN 2006 JEEP LIBEERY RANAGADE 4X4 O...,NaN,il,41.618957,-87.726334,2021-05-03T20:33:40-0500,low
151,7303575863,https://worcester.craigslist.org/ctd/d/fitchbu...,worcester / central MA,https://worcester.craigslist.org,7800,2007.0,gmc,NaN,NaN,8 cylinders,...,NaN,NaN,https://images.craigslist.org/00f0f_iWjiToqea2...,2007 gmc with plow leather loaded nice truck r...,NaN,ma,42.579600,-71.803100,2021-04-08T09:10:07-0400,low
200,7315267860,https://gainesville.craigslist.org/ctd/d/kissi...,gainesville,https://gainesville.craigslist.org,19200,2012.0,ram,NaN,NaN,NaN,...,pickup,green,https://images.craigslist.org/00W0W_hHV4D0Po0G...,2012 RAM 1500 Laramie Crew Cab 2WD Offered...,NaN,fl,28.329026,-81.404237,2021-05-01T10:05:17-0400,medium
251,7316024407,https://reading.craigslist.org/ctd/d/paterson-...,reading,https://reading.craigslist.org,18695,2007.0,ram,NaN,NaN,NaN,...,pickup,red,https://images.craigslist.org/00n0n_jgq4eOvH7I...,2007 Dodge Ram 2500 SLT 4x4 Quad Cab Cummins D...,NaN,pa,40.894535,-74.152367,2021-05-02T21:06:09-0400,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9607,7314341390,https://desmoines.craigslist.org/cto/d/urbanda...,des moines,https://desmoines.craigslist.org,8000,2007.0,toyota,NaN,good,4 cylinders,...,sedan,green,https://images.craigslist.org/00K0K_aMoJgOIueB...,Toyota has been owned by non smoker with no pe...,NaN,ia,41.629500,-93.723000,2021-04-29T10:50:54-0500,low
9659,7304358131,https://vermont.craigslist.org/ctd/d/salem-201...,vermont,https://vermont.craigslist.org,19944,2012.0,ram,NaN,NaN,NaN,...,pickup,white,https://images.craigslist.org/00A0A_bfCaGJ20IX...,2012 RAM 1500 4WD REGULAR CAB SHORT BED 5.7 HE...,NaN,vt,42.788204,-71.233728,2021-04-09T16:24:23-0400,medium
9714,7309686008,https://louisville.craigslist.org/cto/d/radcli...,louisville,https://louisville.craigslist.org,1600,2005.0,gmc,NaN,NaN,NaN,...,NaN,NaN,https://images.craigslist.org/01111_99unV6cYER...,GMC Savana PRO AWD cargo van has been driven l...,NaN,ky,37.858900,-86.006900,2021-04-20T04:48:30-0400,low
9974,7316447901,https://tulsa.craigslist.org/cto/d/tulsa-2017-...,tulsa,https://tulsa.craigslist.org,65000,2017.0,rover,NaN,like new,8 cylinders,...,SUV,silver,https://images.craigslist.org/00s0s_iGpmplDL99...,"2017 Range Rover HSE, supercharged V8, silver ...",NaN,ok,36.126200,-95.940800,2021-05-03T16:37:36-0500,high
10021,7316458200,https://portland.craigslist.org/mlt/cto/d/port...,portland,https://portland.craigslist.org,18500,1972.0,chevrolet,NaN,good,8 cylinders,...,pickup,blue,https://images.craigslist.org/00x0x_7FqS8iHJst...,1972 classic Chevrolet pick up custom deluxe ...,NaN,or,45.494960,-122.666988,2021-05-03T14:58:34-0700,medium

In [43]:

# как вариант - брать то слово, которое сразу после названия manufacturer
# попытка - не пытка, как говорится
# создадим новый датафрейм с пропусками
df_with_nan = df[df.model.isna()]
# у нас имеются строчки, где manufacturer указан фигово - убираем их (их всего 2 значения)
# df_with_nan.description.drop('float', axis = 0)
# for i in df_with_nan.description:
# ищем когда значение manufacturer встречается первый раз 
# df_with_nan.drop(df_with_nan[df_with_nan.description == 'float'].index, axis = 0, inplace = True)
# df_with_nan.info()
# df_with_nan = df_with_nan[df_with_nan.manufacturer.dropna()]
df_with_nan.dropna(subset=['manufacturer'], inplace=True)
# теперь, когда убрали пропуски в manufacturer, можно посмотреть какие они значения имеют
for i in df_with_nan.description:
    print(type(i))
# все стринги - это хорошо, теперь попробуем выудить то что нам нужно
for i in df_with_nan.description:
    # идем по описаниям тех машин, где пропущена модель и попробуем брать следующее слово после manufacturer
    # значит в description мы должны найти manufacturer - первое встречающееся
    ind = i.lower().find(

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

<ipython-input-43-436bb0143930>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_nan.dropna(subset=['manufacturer'], inplace=True)

TypeError: Cannot index by location index with a non-integer key

 5**5

3125